<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content__tabs" id="manager_tabs">
    <div class="tabs__tabs-rows">
        <div class="tabs-rows__item" id="1">
            <span>поставити задачі</span>
        </div>
        <div class="tabs-rows__item" id="2">
            <span>переглянути задачі</span>
        </div>
    </div>
    <div class="tabs__section-container">
        <div class="section-container__tabs-section" data-id="1">

        </div>
        <div class="section-container__tabs-section" data-id="2">

        </div>
    </div>
</div>
</body>
</html>